<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>;kjrenrpejkr[foirj[eoifjerofjo[erj</p>
        <p>;kjrenrpejkr[foirj[eoifjerofjo[erj</p>
        <p>;kjrenrpejkr[foirj[eoifjerofjo[erj</p>
        <p>;kjrenrpejkr[foirj[eoifjerofjo[erj</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>